{%- extends "layout.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
<!-- Banner
<section id="warning">
  <i class="fas fa-exclamation-triangle fa-2x iconshiftdown"></i>
  <p>
    {{ this.warning }}
  </p>
</section>
-->

<section id="banner">
  <div class="content">
    <header>
      <div id="countdown-header" >
        <h2>00:00:00</h2>
        <h1>bis zum Tag der offenen Toolbox</h1>
      </div>
      <h2>{{ this.title }}</h2>
      <p>{{ this.slogan }}</p>
      <p>{{ this.hinweis }} {% if this.hinweis_txt %}<a href="{% if this.hinweis_url %}{{this.hinweis_url }}{% else %}#four{% endif %}">{{ this.hinweis_txt }}</a>{% endif %}</p>
    </header>
    <span class="image">
      <img src="{{ '/images/logo.svg'|asseturl }}" alt="" />
    </span>
  </div>
  <a href="#scroll-1" class="goto-next scrolly">Next</a>
</section>

<script>
  const digits2 = 
    new Intl.NumberFormat(
        undefined, 
        { minimumIntegerDigits: 2, maximumSignificantDigits: 2 });


  const start = new Date("2024-03-02T10:00:00");
  const end = new Date("2024-03-02T18:00:00");
  const elem = document.querySelector("#countdown-header > h2:first-child");
  let intervalId;

  elem.parentElement.style.cursor = "pointer";
  elem.parentElement.onclick = function() {
    window.open("/tag-der-offenen-tuer-2024")
  }

  function countdown() {
    const diff = start - Date.now();
    let remaining = ""
    if (diff > 0) {
      const parts = {
        days: Math.floor(diff / (1000 * 60 * 60 * 24)),
        hours: Math.floor((diff / (1000 * 60 * 60)) % 24),
        minutes: Math.floor((diff / 1000 / 60) % 60),
        seconds: Math.floor((diff / 1000) % 60),
      };

      remaining = `Noch ${parts.days}T ${digits2.format(parts.hours)}:${digits2.format(parts.minutes)}:${digits2.format(parts.seconds)}`;
    } else {
      remaining = "Heute noch bis 18 Uhr<br/>Tag der offenen Toolbox<br/><br/>";
      document.querySelector("#countdown-header > h1").style.display = "none";
      clearInterval(intervalId);
    }
    elem.innerHTML = remaining;
  }

  if ((end - Date.now()) <= 0) {
    document.querySelector("#countdown-header").style.display = "none";
  } else {
    countdown();
    intervalId = setInterval(countdown, 1000);
  }
</script>


<!-- One -->
<section id="scroll-1" class="spotlight style1 topborder">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="ae_taennschen_please">
            <header>
                <h2>{{ this.pre_about_header }}</h2>
                {{ this.pre_about_text }}
              </header>
          </div>
      </div>
      <div class="row">
        <div class="4u 12u$(medium)">
          <header>
            <h2>{{ this.about_header }}</h2>
            {{ this.about_text }}
          </header>
        </div>
        <div class="4u 12u$(medium)">
          {{ this.about_text2 }}
        </div>
        <div class="4u$ 12u$(medium)">
          {{ this.about_text3 }}
          <ul class="actions">
            <li><a href="{{ this.about_url2 }}" class="button">{{ this.about_url }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#scroll-2" class="goto-next scrolly">Next</a>
</section>

{%- for blk in this.sections.blocks %}
<section id="scroll-{{ loop.index0 + 2 }}" class="spotlight style2 {{ blk.type }}" style="background-image:url({{ blk.background|asseturl }})">
    {{ blk }}
  <a href="#scroll-{{ loop.index0 + 3 }}" class="goto-next scrolly">Next</a>
</section>
{%- endfor %}

<!-- Four -->
<section id="scroll-{{ this.sections.blocks|count + 2 }}" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major">
      <h2>{{ this.icons_header }}</h2>
      {{ this.icons_text }}
    </header>
    <div class="box alt">
      <div class="row uniform">
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major">
            <i class="fas {{ this.icons_1_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_1_url }}"><h3>{{ this.icons_1_2 }}</h3></a>
          {{ this.icons_1_3 }}
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
           <span class="icon alt major">
            <i class="fas {{ this.icons_2_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_2_url }}"><h3>{{ this.icons_2_2 }}</h3></a>
          {{ this.icons_2_3 }}
        </section>
        <section class="4u$ 6u(medium) 12u$(xsmall)">
          <span class="icon alt major">
            <i class="fas {{ this.icons_3_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_3_url }}"><h3>{{ this.icons_3_2 }}</h3></a>
          {{ this.icons_3_3 }}
        </section>
        <section class="4u 6u$(medium) 12u$(xsmall)">
          <span href="{{ this.icons_4_url }}" class="icon alt major">
            <i class="fas {{ this.icons_4_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_4_url }}"><h3>{{ this.icons_4_2 }}</h3></a>
          {{ this.icons_4_3 }}
        </section>
        <section class="4u 6u(medium) 12u$(xsmall)">
          <span class="icon alt major">
            <i class="fas {{ this.icons_5_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_5_url }}#"><h3>{{ this.icons_5_2 }}</h3></a>
          {{ this.icons_5_3 }}
        </section>
        <section class="4u$ 6u$(medium) 12u$(xsmall)">
          <span class="icon alt major">
            <i class="fas {{ this.icons_6_1 }} fa-3x iconshiftdown"></i>
          </span>
          <a href="{{ this.icons_6_url }}"><h3>{{ this.icons_6_2 }}</h3></a>
          {{ this.icons_6_3 }}
        </section>
      </div>
    </div>
    <footer class="major">
      <ul class="actions">
        <li><a href="{{ this.icons_url }}" class="button">{{ this.icons_txt }}</a></li>
      </ul>
    </footer>
  </div>
</section>

<!-- Five -->
<section id="scroll-{{ this.sections.blocks|count + 3 }}" class="wrapper style2 special fade">
  <div class="container">
    <header>
      <h2>{{ this.red_1 }}</h2>
      {{ this.red_2 }}
    </header>
    {{ this.red_3 }}
    <h2>{{ this.red_4 }}</h2>
  </div>
</section>

{%- endblock %}
